<div class="layout zi-main-container" style="align-items: safe center;" lang="zh">
  <div class="gap--xsmall grid grid--cols-8" style="height: 100%; align-items: safe center; height: 100%;">
    <div class="left flex flex--col gap--xsmall col--span-2 fz-16">
      <div class="zitou"></div>
      <div class="ids"></div>
      <div class="grid yin-grid"></div>
    </div>
    <div class="right flex flex--col gap--xsmall col--span-6 fz-24">
      <div class="flex flex--row glyphs"></div>
      <div class="yi"></div>
    </div>
  </div>
</div>

<div class="title_bar" lang="zh">
  <img class="image image-stroke" src="https://ziphoenicia-1300189285.cos.ap-shanghai.myqcloud.com/home_svg/zi-tools.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">Description</span>
</div>

<style>
  
  @container zi-main-container (width > 0px) {
    .yin-grid {
      max-height: round(down, calc(100cqb - 96px - var(--line-height, 12px) - var(--gap-xsmall, 5px)), calc(var(--line-height) + 5px));
    }
    .right .yi {
      max-height: round(down, calc(100cqb - var(--glyphs-block-size, 0px) - var(--gap-xsmall, 5px)), var(--line-height));
    }
  }
</style>

<script>

  (() => {
    const root = document.currentScript.closest(".view");
    root.querySelector(".title_bar .title").innerText = `${result.codepoint} (${result.block})`;
    root.querySelector(".title_bar .instance").innerText = `${result.properties.join(' ')}` || {{ trmnl.plugin_settings.instance_name | json }};

    root.querySelector(".left .zitou").innerHTML = `${result.mainZi}`;
    root.querySelector(".left .ids").innerHTML = `${result.ids}`;

    const yinGrid = root.querySelector(".left .yin-grid");
    for (const yinRow of result.yin) {
      const div = document.createElement("div");
      div.className = "yin-row w-auto";
      const nameSpan = document.createElement("span");
      nameSpan.className = "yin-name";
      nameSpan.innerText = yinRow.name;
      div.appendChild(nameSpan);
      const yinsSpan = document.createElement("span");
      yinsSpan.className = "yins flex";
      for (const yinData of yinRow.yins) {
        if (!yinRow.yins.every(a => a.level === "C" && a.ji) && yinData.level === "C" && yinData.ji) continue;
        const yinSpan = document.createElement("span");
        yinSpan.className = "yin inline-block";
        if (yinData.level) {
          yinSpan.classList.add(`level-${yinData.level}`);
          if (yinData.level === "C") {
            yinSpan.classList.add(`2bit:text--gray-55`);
          }
        }
        yinSpan.innerText = yinData.yin;
        if (yinData.path || yinData.ji) {
          const jiSpan = document.createElement("span");
          jiSpan.className = "yin-ji";
          jiSpan.innerHTML = `(${replaceFont(parseMeaning(yinData.path || yinData.ji), { size: textFontSize })})`;
          yinSpan.appendChild(jiSpan);
        }
        yinsSpan.appendChild(yinSpan);
      }
      div.appendChild(yinsSpan);
      yinGrid.appendChild(div);
    }

    const glyphsDiv = root.querySelector(".right .glyphs");
    for (const glyphData of result.glyphs) {
      const div = document.createElement("div");
      div.className = "glyph-group flex";
      const svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
      svg.setAttribute("viewBox", "-2 -20 25 25");
      svg.style.margin = "3px 0 -8px"; // Negative margin is not in Framework v2
      const path = document.createElementNS("http://www.w3.org/2000/svg", "path");
      path.setAttribute("d", glyphData.glyph);
      path.setAttribute("fill", "currentColor");
      svg.appendChild(path);
      div.appendChild(svg);
      const sourceSpan = document.createElement("span");
      sourceSpan.className = "glyph-source label label--small";
      sourceSpan.innerText = glyphData.source;
      div.appendChild(sourceSpan);
      glyphsDiv.appendChild(div);
    }

    const yiDiv = root.querySelector(".right .yi");
    function renderYiNode(node, container) {
      if (node.circular) {
        return;
      }
      const div = document.createElement("div");
      div.className = "yi-node flex";
      
      if (node.redirect?.join("")) {
        const redirectSpan = document.createElement("span");
        redirectSpan.className = "yi-redirect inline label label--inverted";
        redirectSpan.innerHTML = node.redirect.join(" ");
        container.appendChild(redirectSpan);
      }
      
      const indexDiv = document.createElement("div");
      indexDiv.className = "yi-index";
      indexDiv.innerHTML = `(${node.index})`;
      div.appendChild(indexDiv);

      const meaningsDiv = document.createElement("div");
      meaningsDiv.className = "yi-meanings";
      const meaningDiv = document.createElement("div");
      meaningDiv.className = "yi-meaning";
      if (node.cnMeaning) {
        const cnSpan = document.createElement("span");
        cnSpan.className = "yi-cn";
        cnSpan.innerHTML = node.cnMeaning;
        meaningDiv.appendChild(cnSpan);
      }
      if (node.enMeaning) {
        const enSpan = document.createElement("span");
        enSpan.className = "yi-en py--0 px--1 mr--1 inline label label--outline";
        enSpan.innerHTML = node.enMeaning;
        meaningDiv.appendChild(enSpan);
      }
      if (node.meaning13) {
        const enSpan = document.createElement("span");
        enSpan.className = "yi-13 py--0 px--1 mr--1 inline label label--outline";
        enSpan.innerHTML = node.meaning13;
        meaningDiv.appendChild(enSpan);
      }
      div.appendChild(meaningDiv);

      container.appendChild(div);
      for (const child of node.children ?? []) {
        renderYiNode(child, meaningDiv);
      }
    }
    for (const yiNode of result.yi) {
      renderYiNode(yiNode, yiDiv);
    }



const resizeObserver = new ResizeObserver(entries => {
  for (const {container, content} of [
    {container: root.querySelector(".left"), content: root.querySelector(".left .yin-grid")},
    {container: root.querySelector(".right"), content: root.querySelector(".right .yi")},
    ]) {

    const height = container.scrollHeight;
    const containerHeight = container.closest('.zi-main-container').getBoundingClientRect().height;

    if (height > containerHeight) {
      if (container.classList.contains("fz-24")) {
        container.classList.remove("fz-24");
        container.classList.add("fz-16");
      } else if (container.classList.contains("fz-16")) {
        container.classList.remove("fz-16");
        container.classList.add("fz-12");
      }
    }
  }
});

resizeObserver.observe(root.querySelector(".left"));
resizeObserver.observe(root.querySelector(".right"));

  
  const glyphsResizeObserver = new ResizeObserver(entries => {
    for (const entry of entries) {
      entry.target.closest('.right').style.setProperty('--glyphs-block-size', `${entry.contentBoxSize[0].blockSize}px`);
    }
  });
  glyphsResizeObserver.observe(root.querySelector(".glyphs"));
  
  })();
</script>