<div class="layout layout--col grow">
  <div class="flex flex--col flex--left" style="height: 100%; max-width: 100%">
    <div class="item">
      <div class="meta"></div>
      <div class="content row--center">
        <span class="gFont sample-5" dir="auto">
        </span>
      </div>
    </div>

    <div style="height: 0; flex-grow: 1; overflow: hidden">
      <div class="flex flex--col sm:gap--xsmall md:gap--xsmall lg:gap--small sidebar" data-overflow="true" data-label-class="sm:label--small md:label--small">
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="image image-stroke no-shrink"><path fill="currentColor" d="M4 2.8A3.6 3.6 0 1 0 4 10a3.6 3.6 0 0 0 0-7.2m7.6 0v18.4h7.2a5.2 5.2 0 1 1 0-10.4a4 4 0 1 1 0-8zm7.2 0v8a4 4 0 1 0 0-8m0 8v10.4A5.2 5.2 0 0 0 24 16a5.2 5.2 0 0 0-5.2-5.2m-7.7-7.206L0 21.199h8.8l2.3-3.64Z"/></svg>
  <span class="title"></span>
  <span class="instance"></span>
</div>

<style>
  .sample-5 {
    font-size : 32px; /* No similar size in Framework v2 */
    width: 100%;
    line-height: normal;
    display : -webkit-box; /* Not in Framework v2 */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    max-width: 100%;
  }

  .screen--lg .sample-5 {
    -webkit-line-clamp: 10;
  }

  .classification {
    text-transform: capitalize;
    margin-inline-start: 0.25em;
  }
</style>