<div class="layout layout--col">

  <div class="flex flex--col flex--left" style="height: 100%">
    <div class="item">
      <div class="meta"></div>
      <div class="content" style="justify-content: center;">
        <span class="gFont sample-5" dir="auto" lang="{{ metadata.primary_language | replace: "_", "-" }}">{{ metadata.sample_text[0].specimen_21 }}</span>
        <!-- <span class="label">Preview</span> -->
      </div>
    </div>

    <div style="height: 0; flex-grow: 1; overflow: hidden">
      <div class="gap--xsmall flex flex--col" data-overflow="true">
        {% render "sidebar", metadata: metadata, label: "label--small" %}
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="image image-stroke"><path fill="currentColor" d="M4 2.8A3.6 3.6 0 1 0 4 10a3.6 3.6 0 0 0 0-7.2m7.6 0v18.4h7.2a5.2 5.2 0 1 1 0-10.4a4 4 0 1 1 0-8zm7.2 0v8a4 4 0 1 0 0-8m0 8v10.4A5.2 5.2 0 0 0 24 16a5.2 5.2 0 0 0-5.2-5.2m-7.7-7.206L0 21.199h8.8l2.3-3.64Z"/></svg>
  <span class="title">{{ metadata.name }}</span>
  <span class="instance">by {{ metadata.designer }}</span>
</div>

<style>
  .sample-large {
    font-size: 56px;
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
    height: 1lh;
  }
  .sample-5 {
    font-size: 32px;
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }

  .classification {
    text-transform: capitalize;
    margin-inline-start: 0.25em;
  }
</style>