<div class="gap--space-between layout layout--col">
  <div class="grid">
    <div class="row">
      <div class="grid">
        <div class="item col--span-2">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--large value--tnums" data-value-type="number">$159,022</span>
            <span class="label">Total Sales</span>
          </div>
        </div>

        <div class="item col--span-1">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--small value--tnums" data-value-type="number">763</span>
            <span class="label">Pending Orders</span>
          </div>
        </div>

        <div class="item col--span-1">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--xsmall value--tnums" data-value-type="date">
              <div class="bg--black mb--2 w--14 h--1.5" style="border-radius: 20px;"></div>
                Dec 01 - Dec 31
            </span>
            <span class="label">Current</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border--h-5 w--full"></div>

  <div class="grid">
    <div class="row">
      <div class="grid">
        <div class="item col--span-2">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--tnums" data-value-type="number" style="white-space: nowrap;" data-raw-value="$156">$156</span>
            <span class="label">AOV</span>
          </div>
        </div>

        <div class="item col--span-1">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--small value--tnums" data-value-type="number" style="white-space: nowrap;" data-raw-value="254">254</span>
            <span class="label">Fulfilled Orders</span>
          </div>
        </div>

        <div class="item col--span-1">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--xsmall value--tnums" data-value-type="date">
              <div class="bg--gray-5 mb--2 w--14 h--1.5"></div>
              Nov 01 - Nov 30
            </span>
            <span class="label">Comparison</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://usetrmnl.com/js/highcharts/12.3.0/highcharts.js"></script>
  <script src="https://usetrmnl.com/js/highcharts/12.3.0/highcharts-more.js"></script>
  <script src="https://usetrmnl.com/js/highcharts/12.3.0/pattern-fill.js"></script>

  <div id="chart-8513af80da0f" class="w--full" data-highcharts-chart="0" style="overflow: hidden;"><div id="highcharts-5zb5v73-0" dir="ltr" class="highcharts-container" style="position: relative; overflow: hidden; width: 760px; height: 203px; text-align: left; line-height: normal; z-index: 0; touch-action: manipulation; outline: currentcolor; padding: 0px;"><svg version="1.1" class="highcharts-root" style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, sans-serif; font-size: 1rem;" xmlns="http://www.w3.org/2000/svg" width="760" height="203" viewBox="0 0 760 203" role="img" aria-label=""><desc>Created with Highcharts 12.2.0</desc><defs><filter id="highcharts-drop-shadow-0"><feDropShadow dx="1" dy="1" flood-color="#000000" flood-opacity="0.75" stdDeviation="2.5"></feDropShadow></filter><clipPath id="highcharts-5zb5v73-38-"><rect x="0" y="0" width="701" height="160" fill="none"></rect></clipPath><pattern id="highcharts-pattern-0-106bd6515e0370fa" patternUnits="userSpaceOnUse" patternContentUnits="userSpaceOnUse" width="12" height="12" x="0" y="0"><image preserveAspectRatio="none" x="0" y="0" width="12" height="12" xlink:href="https://usetrmnl.com/images/grayscale/gray-5.png"></image></pattern></defs><rect fill="#ffffff" class="highcharts-background" filter="none" x="0" y="0" width="760" height="203" rx="0" ry="0"></rect><rect fill="none" class="highcharts-plot-background" x="49" y="10" width="701" height="160" filter="none"></rect><g class="highcharts-pane-group" data-z-index="0"></g><g class="highcharts-grid highcharts-xaxis-grid" data-z-index="1"><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,3" data-z-index="1" class="highcharts-grid-line" d="M 78.5 10 L 78.5 170" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,3" data-z-index="1" class="highcharts-grid-line" d="M 239.5 10 L 239.5 170" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,3" data-z-index="1" class="highcharts-grid-line" d="M 399.5 10 L 399.5 170" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,3" data-z-index="1" class="highcharts-grid-line" d="M 559.5 10 L 559.5 170" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,3" data-z-index="1" class="highcharts-grid-line" d="M 720.5 10 L 720.5 170" opacity="1"></path></g><g class="highcharts-grid highcharts-yaxis-grid" data-z-index="1"><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,1" data-z-index="1" class="highcharts-grid-line" d="M 49 170.5 L 750 170.5" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,1" data-z-index="1" class="highcharts-grid-line" d="M 49 130.5 L 750 130.5" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,1" data-z-index="1" class="highcharts-grid-line" d="M 49 90.5 L 750 90.5" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,1" data-z-index="1" class="highcharts-grid-line" d="M 49 50.5 L 750 50.5" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,1" data-z-index="1" class="highcharts-grid-line" d="M 49 10.5 L 750 10.5" opacity="1"></path></g><rect fill="none" class="highcharts-plot-border" data-z-index="1" stroke="#cccccc" stroke-width="0" x="49" y="10" width="701" height="160"></rect><g class="highcharts-axis highcharts-xaxis" data-z-index="2"><path fill="none" class="highcharts-axis-line" stroke="#333333" stroke-width="0" data-z-index="7" d="M 49 170 L 750 170"></path></g><g class="highcharts-axis highcharts-yaxis" data-z-index="2"><path fill="none" class="highcharts-axis-line" stroke="#333333" stroke-width="0" data-z-index="7" d="M 49 10 L 49 170"></path></g><g class="highcharts-series-group" data-z-index="3" filter="none"><g class="highcharts-series highcharts-series-1 highcharts-spline-series highcharts-color-0" data-z-index="1" opacity="1" transform="translate(49,10) scale(1 1)" clip-path="url(#highcharts-5zb5v73-38-)"><path fill="none" d="M 671.21895424837 157.63776 C 671.21895424837 157.63776 657.4738562091519 154.08456 648.31045751634 154.08456 C 639.1470588235279 154.08456 634.565359477122 156.90976 625.40196078431 156.90976 C 616.238562091502 156.90976 611.656862745098 155.74012 602.49346405229 155.74012 C 593.3300653594781 155.74012 588.748366013072 157.00508 579.58496732026 157.00508 C 570.421568627452 157.00508 565.8398692810481 152.70008 556.67647058824 152.70008 C 547.5130718954281 152.70008 542.931372549022 159.39204 533.76797385621 159.39204 C 524.604575163398 159.39204 520.022875816992 156.61888000000002 510.85947712418 156.364 C 501.69607843137203 156.10912 497.11437908496794 156.10912 487.95098039216 156.10912 C 478.787581699348 156.10912 474.205882352942 156.464 465.04248366013 156.464 C 455.87908496731797 156.464 451.297385620912 151.88236 442.1339869281 151.88236 C 432.970588235292 151.88236 428.38888888888795 153.10461600000022 419.22549019608 154.00088 C 410.06209150326794 154.8971440000002 405.48039215686197 156.36368 396.31699346405 156.36368 C 387.15359477124196 156.36368 382.57189542483803 152.74833599999965 373.40849673203 151.2236 C 364.245098039218 149.69886399999967 359.663398692812 151.2236 350.5 148.74 C 341.336601307188 146.2564 336.754901960782 136.6449280000012 327.59150326797 131.27768 C 318.42810457516197 125.91043200000118 313.84640522875804 121.90376 304.68300653595 121.90376 C 286.3562091503301 121.90376 277.19281045752007 158.152 258.8660130719 158.152 C 249.70261437908803 158.152 245.12091503268203 157.5496 235.95751633987 157.536 C 226.79411764705802 157.5224 222.21241830065202 157.5224 213.04901960784 157.5224 C 203.885620915032 157.5224 199.303921568628 159.47288 190.14052287582 159.47288 C 180.97712418300802 159.47288 176.395424836602 159.14629333333338 167.23202614379 158.81552 C 148.90522875817 158.15397333333337 139.74183006536 156.99208 121.41503267974 156.99208 C 112.2516339869288 156.99208 107.66993464052321 158.82296 98.506535947712 158.82296 C 89.3431372549016 158.82296 84.76143790849639 158.14816 75.598039215686 158.14816 C 66.4346405228756 158.14816 61.8529411764704 158.6948 52.68954248366 158.6948 C 34.36274509803912 158.6948 6.8725490196078 158.29888 6.8725490196078 158.29888" class="highcharts-graph" data-z-index="1" stroke="url(#highcharts-pattern-0-106bd6515e0370fa)" stroke-width="5" stroke-linejoin="round" stroke-linecap="round" filter="none"></path></g><g class="highcharts-markers highcharts-series-1 highcharts-spline-series highcharts-color-0" data-z-index="1" opacity="1" transform="translate(49,10) scale(1 1)" clip-path="none"></g><g class="highcharts-series highcharts-series-0 highcharts-spline-series" data-z-index="2" opacity="1" transform="translate(49,10) scale(1 1)" clip-path="url(#highcharts-5zb5v73-38-)"><path fill="none" d="M 694.12745098039 144.07108 C 694.12745098039 144.07108 680.382352941178 116.94624 671.21895424837 116.94624 C 662.055555555558 116.94624 657.4738562091519 147.98296 648.31045751634 147.98296 C 639.1470588235279 147.98296 634.565359477122 147.98296 625.40196078431 147.3178 C 616.238562091502 146.65264000000002 611.656862745098 135.51848 602.49346405229 135.51848 C 593.3300653594781 135.51848 588.748366013072 135.51848 579.58496732026 136.8626 C 570.421568627452 138.20671999999996 565.8398692810481 142.56472 556.67647058824 142.56472 C 547.5130718954281 142.56472 542.931372549022 142.56472 533.76797385621 141.46796 C 524.604575163398 140.37120000000002 520.022875816992 125.73639200000135 510.85947712418 119.69248 C 501.69607843137203 113.64856800000136 497.11437908496794 117.13431999999871 487.95098039216 111.2484 C 478.787581699348 105.36247999999871 474.205882352942 106.11419999999995 465.04248366013 90.26288 C 455.87908496731797 74.41155999999995 451.297385620912 31.9918 442.1339869281 31.9918 C 432.970588235292 31.9918 428.38888888888795 80.22783200000544 419.22549019608 104.4908 C 410.06209150326794 128.7537680000054 405.48039215686197 150.08239999999998 396.31699346405 153.30664 C 387.15359477124196 156.53088 382.57189542483803 156.53088 373.40849673203 156.53088 C 364.245098039218 156.53088 359.663398692812 154.74930400000002 350.5 153.952 C 341.336601307188 153.154696 336.754901960782 152.54436 327.59150326797 152.54436 C 318.42810457516197 152.54436 313.84640522875804 157.14336 304.68300653595 157.14336 C 295.51960784313803 157.14336 290.93790849673206 156.6648320000003 281.77450980392 155.27844 C 272.61111111111205 153.8920480000003 268.029411764708 152.5601199999995 258.8660130719 150.2114 C 249.70261437908803 147.8626799999995 245.12091503268203 143.53484 235.95751633987 143.53484 C 226.79411764705802 143.53484 222.21241830065202 144.0784959999997 213.04901960784 145.56296 C 203.885620915032 147.0474239999997 199.303921568628 150.95716 190.14052287582 150.95716 C 180.97712418300802 150.95716 176.395424836602 144.91804 167.23202614379 144.91804 C 158.068627450978 144.91804 153.486928104572 147.00847199999953 144.32352941176 149.27572 C 135.160130718952 151.54296799999952 130.57843137254798 155.32855999999998 121.41503267974 156.25428 C 112.2516339869288 157.18 107.66993464052321 156.792456 98.506535947712 157.18 C 89.3431372549016 157.567544 84.76143790849639 158.18148000000002 75.598039215686 158.192 C 66.4346405228756 158.20252 61.8529411764704 158.20252 52.68954248366 158.20252 C 43.526143790849595 158.20252 38.9444444444444 154.23272 29.781045751634 154.23272 C 20.617647058823522 154.23272 6.8725490196078 156.21592 6.8725490196078 156.21592" class="highcharts-graph" data-z-index="1" stroke="#000000" stroke-width="4" stroke-linejoin="round" stroke-linecap="round" filter="none"></path></g><g class="highcharts-markers highcharts-series-0 highcharts-spline-series" data-z-index="2" opacity="1" transform="translate(49,10) scale(1 1)" clip-path="none"></g></g><text x="380" class="highcharts-title" data-z-index="4" text-align="center" y="25" text-anchor="middle" transform-origin="10 22" transform="translate(0,0) scale(1 1)" style="font-size: 1.2em; font-weight: bold; fill: rgb(51, 51, 51);"></text><text x="380" class="highcharts-subtitle" data-z-index="4" text-align="center" y="24" text-anchor="middle" transform-origin="10 15" transform="translate(0,0) scale(1 1)" style="font-size: 0.8em; fill: rgb(102, 102, 102);"></text><text x="10" text-anchor="start" class="highcharts-caption" data-z-index="4" text-align="left" y="210" transform-origin="10 15" transform="translate(0,0) scale(1 1)" style="font-size: 0.8em; fill: rgb(102, 102, 102);"></text><g class="highcharts-axis-labels highcharts-xaxis-labels" data-z-index="7"><text x="78.781045751634" text-anchor="middle" transform="translate(0,0)" y="195" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">Dec 2</text><text x="239.14052287582" text-anchor="middle" transform="translate(0,0)" y="195" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">Dec 9</text><text x="399.5" text-anchor="middle" transform="translate(0,0)" y="195" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">Dec 16</text><text x="559.85947712418" text-anchor="middle" transform="translate(0,0)" y="195" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">Dec 23</text><text x="720.21895424837" text-anchor="middle" transform="translate(0,0)" y="195" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">Dec 30</text></g><g class="highcharts-axis-labels highcharts-yaxis-labels" data-z-index="7"><text x="34" text-anchor="end" transform="translate(0,0)" y="176" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">0</text><text x="34" text-anchor="end" transform="translate(0,0)" y="136" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">10k</text><text x="34" text-anchor="end" transform="translate(0,0)" y="96" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">20k</text><text x="34" text-anchor="end" transform="translate(0,0)" y="56" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">30k</text><text x="34" text-anchor="end" transform="translate(0,0)" y="16" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">40k</text></g></svg></div></div>

  <script type="text/javascript">
    var data = [{"name":"Current","data":[["2024-12-31",3982.23],["2024-12-30",10763.44],["2024-12-29",3004.26],["2024-12-28",3170.55],["2024-12-27",6120.38],["2024-12-26",5784.35],["2024-12-25",4358.82],["2024-12-24",4633.01],["2024-12-23",10076.88],["2024-12-22",12187.9],["2024-12-21",17434.28],["2024-12-20",32002.05],["2024-12-19",13877.3],["2024-12-18",1673.34],["2024-12-17",867.28],["2024-12-16",1512.0],["2024-12-15",1863.91],["2024-12-14",714.16],["2024-12-13",1180.39],["2024-12-12",2447.15],["2024-12-11",4116.29],["2024-12-10",3609.26],["2024-12-09",2260.71],["2024-12-08",3770.49],["2024-12-07",2681.07],["2024-12-06",936.43],["2024-12-05",705.0],["2024-12-04",452.0],["2024-12-03",449.37],["2024-12-02",1441.82],["2024-12-01",946.02]]},{"name":"Comparison","data":[["2024-12-30",590.56],["2024-12-29",1478.86],["2024-12-28",772.56],["2024-12-27",1064.97],["2024-12-26",748.73],["2024-12-25",1824.98],["2024-12-24",151.99],["2024-12-23",909.0],["2024-12-22",972.72],["2024-12-21",884.0],["2024-12-20",2029.41],["2024-12-19",1499.78],["2024-12-18",909.08],["2024-12-17",2194.1],["2024-12-16",2815.0],["2024-12-15",7180.58],["2024-12-14",9524.06],["2024-12-12",462.0],["2024-12-11",616.0],["2024-12-10",619.4],["2024-12-09",131.78],["2024-12-08",296.12],["2024-12-06",751.98],["2024-12-05",294.26],["2024-12-04",462.96],["2024-12-03",326.3],["2024-12-01",425.28]]}];
    
    Highcharts.chart('chart-8513af80da0f', {
      chart: { 
        type: 'spline',
        height: 203,
        width: null,
        animation: false,
        spacing: [10, 10, 5, 10]
      },
      title: {
        text: null
      },
      plotOptions: {
        series: {
          animation: false,
          enableMouseTracking: false,
          states: {
            hover: { enabled: false }
          },
          marker: {
            enabled: false
          }
        }
      },
      series: [{
        data: data[0].data,
        lineWidth: 4,
        color: '#000000',
        name: data[0].name,
        zIndex: 2
      }, {
        data: data[1].data,
        lineWidth: 5,
        name: data[1].name,
        zIndex: 1,
        color: {
          pattern: {
            image: 'https://usetrmnl.com/images/grayscale/gray-5.png',
            width: 12,
            height: 12
          }
        }
      }],
      tooltip: { enabled: false },
      legend: { enabled: false },
      yAxis: { 
        labels: { 
          style: { fontSize: '16px', color: '#000000' } 
        }, 
        gridLineDashStyle: 'shortdot', 
        gridLineWidth: 1, 
        gridLineColor: '#000000', 
        tickAmount: 5,
        title: {
          text: null
        }
      },
      xAxis: { 
        type: 'datetime', 
        labels: { 
          style: { fontSize: '16px', color: '#000000' },
          padding: 5,
          y: 25
        }, 
        lineWidth: 0, 
        gridLineDashStyle: 'dot', 
        tickWidth: 1, 
        tickLength: 0, 
        gridLineWidth: 1, 
        gridLineColor: '#000000', 
        tickPixelInterval: 120, 
        offset: 0,
        margin: 0,
        title: {
          text: null
        }
      },
      credits: {
        enabled: false
      }
    });
  </script>
</div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">Description</span>
</div>