<div class="gap--space-between layout layout--col">
  <div class="grid grid grid--cols-2">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--tnums" data-value-type="number">$159,022</span>
        <span class="label">Total Sales</span>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--tnums" data-value-type="number">$156</span>
        <span class="label">AOV</span>
      </div>
    </div>
  </div>

  <div class="border--h-5 w--full"></div>

  <div class="grid grid grid--cols-2">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--small value--tnums" data-value-type="number">763</span>
        <span class="label">Pending Orders</span>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--small value--tnums" data-value-type="number">254</span>
        <span class="label">Fulfilled Orders</span>
      </div>
    </div>
  </div>

  <div class="border--h-5 w--full"></div>

  <div class="grid grid grid--cols-2">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--xxsmall value--tnums" data-value-type="date">
          <div class="bg--gray-5 mb--2 w--12 h--1.5"></div>
          Nov 01 - Nov 30
        </span>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--xxsmall value--tnums" data-value-type="date">
          <div class="bg--black mb--2 w--12 h--1.5" style="border-radius: 20px;"></div>
            Dec 01 - Dec 31
        </span>
      </div>
    </div>
  </div>

  <div id="chart-234ae4a4aaf8" class="w--full" data-highcharts-chart="1" style="overflow: hidden;"><div id="highcharts-gwfys8o-66" dir="ltr" class="highcharts-container" style="position: relative; overflow: hidden; width: 365px; height: 180px; text-align: left; line-height: normal; z-index: 0; touch-action: manipulation; outline: currentcolor; padding: 0px;"><svg version="1.1" class="highcharts-root" style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, sans-serif; font-size: 1rem;" xmlns="http://www.w3.org/2000/svg" width="365" height="180" viewBox="0 0 365 180" role="img" aria-label=""><desc>Created with Highcharts 12.2.0</desc><defs><filter id="highcharts-drop-shadow-1"><feDropShadow dx="1" dy="1" flood-color="#000000" flood-opacity="0.75" stdDeviation="2.5"></feDropShadow></filter><clipPath id="highcharts-gwfys8o-104-"><rect x="0" y="0" width="322" height="144" fill="none"></rect></clipPath><pattern id="highcharts-pattern-1-106bd6515e0370fa" patternUnits="userSpaceOnUse" patternContentUnits="userSpaceOnUse" width="12" height="12" x="0" y="0"><image preserveAspectRatio="none" x="0" y="0" width="12" height="12" xlink:href="https://usetrmnl.com/images/grayscale/gray-5.png"></image></pattern></defs><rect fill="#ffffff" class="highcharts-background" filter="none" x="0" y="0" width="365" height="180" rx="0" ry="0"></rect><rect fill="none" class="highcharts-plot-background" x="43" y="10" width="322" height="144" filter="none"></rect><g class="highcharts-pane-group" data-z-index="0"></g><g class="highcharts-grid highcharts-xaxis-grid" data-z-index="1"><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,3" data-z-index="1" class="highcharts-grid-line" d="M 130.5 10 L 130.5 154" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,3" data-z-index="1" class="highcharts-grid-line" d="M 277.5 10 L 277.5 154" opacity="1"></path></g><g class="highcharts-grid highcharts-yaxis-grid" data-z-index="1"><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,1" data-z-index="1" class="highcharts-grid-line" d="M 43 154.5 L 365 154.5" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,1" data-z-index="1" class="highcharts-grid-line" d="M 43 118.5 L 365 118.5" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,1" data-z-index="1" class="highcharts-grid-line" d="M 43 82.5 L 365 82.5" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,1" data-z-index="1" class="highcharts-grid-line" d="M 43 46.5 L 365 46.5" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,1" data-z-index="1" class="highcharts-grid-line" d="M 43 10.5 L 365 10.5" opacity="1"></path></g><rect fill="none" class="highcharts-plot-border" data-z-index="1" stroke="#cccccc" stroke-width="0" x="43" y="10" width="322" height="144"></rect><g class="highcharts-axis highcharts-xaxis" data-z-index="2"><path fill="none" class="highcharts-axis-line" stroke="#333333" stroke-width="0" data-z-index="7" d="M 43 154 L 365 154"></path></g><g class="highcharts-axis highcharts-yaxis" data-z-index="2"><path fill="none" class="highcharts-axis-line" stroke="#333333" stroke-width="0" data-z-index="7" d="M 43 10 L 43 154"></path></g><g class="highcharts-series-group" data-z-index="3" filter="none"><g class="highcharts-series highcharts-series-1 highcharts-spline-series highcharts-color-0" data-z-index="1" opacity="1" transform="translate(43,10) scale(1 1)" clip-path="url(#highcharts-gwfys8o-104-)"><path fill="none" d="M 308.32026143791 141.873984 C 308.32026143791 141.873984 302.00653594771603 138.676104 297.79738562092 138.676104 C 293.58823529412 138.676104 291.48366013072 141.218784 287.27450980392 141.218784 C 283.065359477124 141.218784 280.960784313726 140.166108 276.75163398693 140.166108 C 272.54248366012996 140.166108 270.4379084967301 141.304572 266.22875816993 141.304572 C 262.019607843134 141.304572 259.91503267973604 137.430072 255.70588235294 137.430072 C 251.496732026144 137.430072 249.39215686274602 143.452836 245.18300653595 143.452836 C 240.97385620915003 143.452836 238.86928104575 140.95699199999999 234.66013071895 140.7276 C 230.450980392154 140.498208 228.34640522875603 140.498208 224.13725490196 140.498208 C 219.928104575164 140.498208 217.823529411766 140.8176 213.61437908497 140.8176 C 209.40522875817 140.8176 207.30065359477004 136.694124 203.09150326797 136.694124 C 198.88235294117402 136.694124 196.777777777776 137.7941544 192.56862745098 138.600792 C 188.359477124184 139.4074296 186.254901960786 140.727312 182.04575163399 140.727312 C 177.83660130719 140.727312 175.73202614379 137.47350240000063 171.52287581699 136.10124 C 167.313725490194 134.72897760000063 165.209150326796 136.10124 161 133.866 C 156.790849673204 131.63076000000004 154.686274509806 122.9804351999977 150.47712418301 118.149912 C 146.26797385621 113.31938879999771 144.16339869281 109.713384 139.95424836601 109.713384 C 131.53594771241802 109.713384 127.32679738562202 142.3368 118.90849673203 142.3368 C 114.69934640522999 142.3368 112.59477124182999 141.79464 108.38562091503 141.7824 C 104.17647058823358 141.77016 102.0718954248354 141.77016 97.862745098039 141.77016 C 93.6535947712418 141.77016 91.5490196078432 143.525592 87.339869281046 143.525592 C 83.13071895424841 143.525592 81.0261437908496 143.231664 76.816993464052 142.933968 C 68.3986928104572 142.338576 64.1895424836598 141.292872 55.771241830065 141.292872 C 51.5620915032678 141.292872 49.4575163398692 142.940664 45.248366013072 142.940664 C 41.0392156862744 142.940664 38.9346405228756 142.333344 34.725490196078 142.333344 C 30.516339869280795 142.333344 28.4117647058822 142.82532 24.202614379085 142.82532 C 15.784313725490202 142.82532 3.156862745098 142.468992 3.156862745098 142.468992" class="highcharts-graph" data-z-index="1" stroke="url(#highcharts-pattern-1-106bd6515e0370fa)" stroke-width="5" stroke-linejoin="round" stroke-linecap="round" filter="none"></path></g><g class="highcharts-markers highcharts-series-1 highcharts-spline-series highcharts-color-0" data-z-index="1" opacity="1" transform="translate(43,10) scale(1 1)" clip-path="none"></g><g class="highcharts-series highcharts-series-0 highcharts-spline-series" data-z-index="2" opacity="1" transform="translate(43,10) scale(1 1)" clip-path="url(#highcharts-gwfys8o-104-)"><path fill="none" d="M 318.8431372549 129.663972 C 318.8431372549 129.663972 312.529411764706 105.251616 308.32026143791 105.251616 C 304.11111111111404 105.251616 302.00653594771603 133.184664 297.79738562092 133.184664 C 293.58823529412 133.184664 291.48366013072 133.184664 287.27450980392 132.58602 C 283.065359477124 131.98737599999998 280.960784313726 121.966632 276.75163398693 121.966632 C 272.54248366012996 121.966632 270.4379084967301 121.966632 266.22875816993 123.17634 C 262.019607843134 124.38604799999999 259.91503267973604 128.308248 255.70588235294 128.308248 C 251.496732026144 128.308248 249.39215686274602 128.308248 245.18300653595 127.321164 C 240.97385620915003 126.33408 238.86928104575 113.1627528000026 234.66013071895 107.723232 C 230.450980392154 102.28371120000259 228.34640522875603 105.420888 224.13725490196 100.12356 C 219.928104575164 94.82623200000002 217.823529411766 95.50277999999321 213.61437908497 81.236592 C 209.40522875817 66.97040399999321 207.30065359477004 28.79262 203.09150326797 28.79262 C 198.88235294117402 28.79262 196.777777777776 72.20504879999993 192.56862745098 94.04172 C 188.359477124184 115.87839119999991 186.254901960786 135.07416 182.04575163399 137.975976 C 177.83660130719 140.877792 175.73202614379 140.877792 171.52287581699 140.877792 C 167.313725490194 140.877792 165.209150326796 139.2743736 161 138.5568 C 156.790849673204 137.83922640000003 154.686274509806 137.289924 150.47712418301 137.289924 C 146.26797385621 137.289924 144.16339869281 141.429024 139.95424836601 141.429024 C 135.745098039214 141.429024 133.640522875816 140.9983488 129.43137254902 139.750596 C 125.22222222222402 138.50284319999997 123.11764705882601 137.304107999999 118.90849673203 135.19026 C 114.69934640522999 133.076411999999 112.59477124182999 129.181356 108.38562091503 129.181356 C 104.17647058823358 129.181356 102.0718954248354 129.67064640000012 97.862745098039 131.006664 C 93.6535947712418 132.34268160000013 91.5490196078432 135.861444 87.339869281046 135.861444 C 83.13071895424841 135.861444 81.0261437908496 130.426236 76.816993464052 130.426236 C 72.6078431372548 130.426236 70.5032679738562 132.3076248000001 66.294117647059 134.348148 C 62.0849673202614 136.38867120000012 59.98039215686261 139.795704 55.771241830065 140.628852 C 51.5620915032678 141.462 49.4575163398692 141.1132104 45.248366013072 141.462 C 41.0392156862744 141.8107896 38.9346405228756 142.363332 34.725490196078 142.3728 C 30.516339869280795 142.382268 28.4117647058822 142.382268 24.202614379085 142.382268 C 19.9934640522878 142.382268 17.8888888888892 138.809448 13.679738562092 138.809448 C 9.4705882352944 138.809448 3.156862745098 140.594328 3.156862745098 140.594328" class="highcharts-graph" data-z-index="1" stroke="#000000" stroke-width="4" stroke-linejoin="round" stroke-linecap="round" filter="none"></path></g><g class="highcharts-markers highcharts-series-0 highcharts-spline-series" data-z-index="2" opacity="1" transform="translate(43,10) scale(1 1)" clip-path="none"></g></g><text x="183" class="highcharts-title" data-z-index="4" text-align="center" y="25" text-anchor="middle" transform-origin="0 22" transform="translate(0,0) scale(1 1)" style="font-size: 1.2em; font-weight: bold; fill: rgb(51, 51, 51);"></text><text x="183" class="highcharts-subtitle" data-z-index="4" text-align="center" y="24" text-anchor="middle" transform-origin="0 15" transform="translate(0,0) scale(1 1)" style="font-size: 0.8em; fill: rgb(102, 102, 102);"></text><text x="0" text-anchor="start" class="highcharts-caption" data-z-index="4" text-align="left" y="192" transform-origin="0 15" transform="translate(0,0) scale(1 1)" style="font-size: 0.8em; fill: rgb(102, 102, 102);"></text><g class="highcharts-axis-labels highcharts-xaxis-labels" data-z-index="7"><text x="130.33986928105" text-anchor="middle" transform="translate(0,0)" y="179" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">Dec 9</text><text x="277.66013071895" text-anchor="middle" transform="translate(0,0)" y="179" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">Dec 23</text></g><g class="highcharts-axis-labels highcharts-yaxis-labels" data-z-index="7"><text x="28" text-anchor="end" transform="translate(0,0)" y="161" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">$0k</text><text x="28" text-anchor="end" transform="translate(0,0)" y="125" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">$10k</text><text x="28" text-anchor="end" transform="translate(0,0)" y="89" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">$20k</text><text x="28" text-anchor="end" transform="translate(0,0)" y="53" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">$30k</text><text x="28" text-anchor="end" transform="translate(0,0)" y="17" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">$40k</text></g></svg></div></div>

  <script src="https://usetrmnl.com/js/highcharts/12.3.0/highcharts.js"></script>
  <script src="https://usetrmnl.com/js/highcharts/12.3.0/highcharts-more.js"></script>
  <script src="https://usetrmnl.com/js/highcharts/12.3.0/pattern-fill.js"></script>

  <script type="text/javascript">
    var data = [{"name":"Current","data":[["2024-12-31",3982.23],["2024-12-30",10763.44],["2024-12-29",3004.26],["2024-12-28",3170.55],["2024-12-27",6120.38],["2024-12-26",5784.35],["2024-12-25",4358.82],["2024-12-24",4633.01],["2024-12-23",10076.88],["2024-12-22",12187.9],["2024-12-21",17434.28],["2024-12-20",32002.05],["2024-12-19",13877.3],["2024-12-18",1673.34],["2024-12-17",867.28],["2024-12-16",1512.0],["2024-12-15",1863.91],["2024-12-14",714.16],["2024-12-13",1180.39],["2024-12-12",2447.15],["2024-12-11",4116.29],["2024-12-10",3609.26],["2024-12-09",2260.71],["2024-12-08",3770.49],["2024-12-07",2681.07],["2024-12-06",936.43],["2024-12-05",705.0],["2024-12-04",452.0],["2024-12-03",449.37],["2024-12-02",1441.82],["2024-12-01",946.02]]},{"name":"Comparison","data":[["2024-12-30",590.56],["2024-12-29",1478.86],["2024-12-28",772.56],["2024-12-27",1064.97],["2024-12-26",748.73],["2024-12-25",1824.98],["2024-12-24",151.99],["2024-12-23",909.0],["2024-12-22",972.72],["2024-12-21",884.0],["2024-12-20",2029.41],["2024-12-19",1499.78],["2024-12-18",909.08],["2024-12-17",2194.1],["2024-12-16",2815.0],["2024-12-15",7180.58],["2024-12-14",9524.06],["2024-12-12",462.0],["2024-12-11",616.0],["2024-12-10",619.4],["2024-12-09",131.78],["2024-12-08",296.12],["2024-12-06",751.98],["2024-12-05",294.26],["2024-12-04",462.96],["2024-12-03",326.3],["2024-12-01",425.28]]}];
    
    Highcharts.chart('chart-234ae4a4aaf8', {
      chart: { 
        type: 'spline',
        height: 180,
        width: null,
        animation: false,
        spacing: [10, 0, 0, 0]
      },
      title: {
        text: null
      },
      plotOptions: {
        series: {
          animation: false,
          enableMouseTracking: false,
          states: {
            hover: { enabled: false }
          },
          marker: {
            enabled: false
          }
        }
      },
      series: [{
        data: data[0].data,
        lineWidth: 4,
        color: '#000000',
        name: data[0].name,
        zIndex: 2
      }, {
        data: data[1].data,
        lineWidth: 5,
        name: data[1].name,
        zIndex: 1,
        color: {
          pattern: {
            image: 'https://usetrmnl.com/images/grayscale/gray-5.png',
            width: 12,
            height: 12
          }
        }
      }],
      tooltip: { enabled: false },
      legend: { enabled: false },
      yAxis: { 
        labels: { 
          style: { fontSize: '16px', color: '#000000' },
          formatter: function() {
            return '$' + (this.value / 1000) + 'k';
          }
        }, 
        gridLineDashStyle: 'shortdot', 
        gridLineWidth: 1, 
        gridLineColor: '#000000', 
        tickAmount: 5,
        title: {
          text: null
        }
      },
      xAxis: { 
        type: 'datetime', 
        labels: { 
          style: { fontSize: '16px', color: '#000000' },
          padding: 5,
          y: 25
        }, 
        lineWidth: 0, 
        gridLineDashStyle: 'dot', 
        tickWidth: 1, 
        tickLength: 0, 
        gridLineWidth: 1, 
        gridLineColor: '#000000', 
        tickPixelInterval: 120, 
        offset: 0,
        margin: 0,
        title: {
          text: null
        }
      },
      credits: {
        enabled: false
      }
    });
  </script>
</div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">Description</span>
</div>