<div class="gap--space-between layout layout--col">
  <div class="grid h-full">
    <div class="gap--space-between col--span-3 col">
      <div class="gap--[9px] grid grid--cols-2" data-adjust-grid-gaps="false">
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--tnums" data-value-type="number">$159,022</span>
            <span class="label">Total Sales</span>
          </div>
        </div>
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--tnums" data-value-type="number"">$156</span>
            <span class="label">AOV</span>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="grid grid--cols-2">
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--xsmall value--tnums" data-value-type="number">763</span>
            <span class="label">Pending Orders</span>
          </div>
        </div>
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--xsmall value--tnums" data-value-type="number">254</span>
            <span class="label">Fulfilled Orders</span>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="grid grid grid--cols-2">
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--xxsmall value--tnums" data-value-type="date">
              <div class="bg--gray-5 mb--2 w--12 h--1.5"></div>
              Nov 01 - Nov 30
            </span>
          </div>
        </div>
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--xxsmall value--tnums" data-value-type="date">
              <div class="bg--black mb--2 w--12 h--1.5" style="border-radius: 20px;"></div>
                Dec 01 - Dec 31
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="gap--space-between col--span-3 col">
      <div id="chart-1221f8c9e95f" class="w--full" data-highcharts-chart="7" style="overflow: hidden;"><div id="highcharts-gwfys8o-462" dir="ltr" class="highcharts-container" style="position: relative; overflow: hidden; width: 376px; height: 180px; text-align: left; line-height: normal; z-index: 0; touch-action: manipulation; outline: currentcolor; padding: 0px;"><svg version="1.1" class="highcharts-root" style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, sans-serif; font-size: 1rem;" xmlns="http://www.w3.org/2000/svg" width="376" height="180" viewBox="0 0 376 180" role="img" aria-label=""><desc>Created with Highcharts 12.2.0</desc><defs><filter id="highcharts-drop-shadow-7"><feDropShadow dx="1" dy="1" flood-color="#000000" flood-opacity="0.75" stdDeviation="2.5"></feDropShadow></filter><clipPath id="highcharts-gwfys8o-500-"><rect x="0" y="0" width="333" height="134" fill="none"></rect></clipPath><pattern id="highcharts-pattern-7-106bd6515e0370fa" patternUnits="userSpaceOnUse" patternContentUnits="userSpaceOnUse" width="12" height="12" x="0" y="0"><image preserveAspectRatio="none" x="0" y="0" width="12" height="12" xlink:href="https://usetrmnl.com/images/grayscale/gray-5.png"></image></pattern></defs><rect fill="#ffffff" class="highcharts-background" filter="none" x="0" y="0" width="376" height="180" rx="0" ry="0"></rect><rect fill="none" class="highcharts-plot-background" x="43" y="10" width="333" height="134" filter="none"></rect><g class="highcharts-pane-group" data-z-index="0"></g><g class="highcharts-grid highcharts-xaxis-grid" data-z-index="1"><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,3" data-z-index="1" class="highcharts-grid-line" d="M 133.5 10 L 133.5 144" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,3" data-z-index="1" class="highcharts-grid-line" d="M 285.5 10 L 285.5 144" opacity="1"></path></g><g class="highcharts-grid highcharts-yaxis-grid" data-z-index="1"><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,1" data-z-index="1" class="highcharts-grid-line" d="M 43 144.5 L 376 144.5" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,1" data-z-index="1" class="highcharts-grid-line" d="M 43 110.5 L 376 110.5" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,1" data-z-index="1" class="highcharts-grid-line" d="M 43 77.5 L 376 77.5" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,1" data-z-index="1" class="highcharts-grid-line" d="M 43 43.5 L 376 43.5" opacity="1"></path><path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="1,1" data-z-index="1" class="highcharts-grid-line" d="M 43 10.5 L 376 10.5" opacity="1"></path></g><rect fill="none" class="highcharts-plot-border" data-z-index="1" stroke="#cccccc" stroke-width="0" x="43" y="10" width="333" height="134"></rect><g class="highcharts-axis highcharts-xaxis" data-z-index="2"><path fill="none" class="highcharts-axis-line" stroke="#333333" stroke-width="0" data-z-index="7" d="M 43 144 L 376 144"></path></g><g class="highcharts-axis highcharts-yaxis" data-z-index="2"><path fill="none" class="highcharts-axis-line" stroke="#333333" stroke-width="0" data-z-index="7" d="M 43 10 L 43 144"></path></g><g class="highcharts-series-group" data-z-index="3" filter="none"><g class="highcharts-series highcharts-series-1 highcharts-spline-series highcharts-color-0" data-z-index="1" opacity="1" transform="translate(43,10) scale(1 1)" clip-path="url(#highcharts-gwfys8o-500-)"><path fill="none" d="M 318.85294117647 132.021624 C 318.85294117647 132.021624 312.32352941176197 129.045819 307.97058823529 129.045819 C 303.61764705882194 129.045819 301.441176470588 131.411924 297.08823529412 131.411924 C 292.73529411764804 131.411924 290.558823529412 130.4323505 286.20588235294 130.4323505 C 281.852941176468 130.4323505 279.676470588232 131.4917545 275.32352941176 131.4917545 C 270.970588235292 131.4917545 268.794117647058 127.886317 264.44117647059 127.886317 C 260.088235294118 127.886317 257.911764705882 133.4908335 253.55882352941 133.4908335 C 249.20588235294198 133.4908335 247.029411764708 131.168312 242.67647058824 130.95485 C 238.323529411768 130.741388 236.147058823532 130.741388 231.79411764706 130.741388 C 227.441176470588 130.741388 225.26470588235202 131.0386 220.91176470588 131.0386 C 216.558823529412 131.0386 214.38235294117803 127.2014765 210.02941176471 127.2014765 C 205.676470588238 127.2014765 203.500000000002 128.2251159 199.14705882353 128.975737 C 194.79411764705802 129.7263581 192.617647058822 130.954582 188.26470588235 130.954582 C 183.911764705882 130.954582 181.73529411764798 127.92673139999943 177.38235294118 126.649765 C 173.029411764708 125.37279859999941 170.852941176472 126.649765 166.5 124.56975 C 162.147058823528 122.489735 159.970588235292 114.44012720000207 155.61764705882 109.945057 C 151.26470588235202 105.44998680000208 149.088235294118 102.094399 144.73529411765 102.094399 C 136.029411764706 102.094399 131.676470588234 132.4523 122.97058823529 132.4523 C 118.61764705882199 132.4523 116.44117647058799 131.94779 112.08823529412 131.9364 C 107.73529411764798 131.92501 105.55882352941201 131.92501 101.20588235294 131.92501 C 96.85294117647 131.92501 94.67647058823499 133.558537 90.323529411765 133.558537 C 85.9705882352942 133.558537 83.79411764705881 133.28502066666667 79.441176470588 133.007998 C 70.7352941176468 132.45395266666668 66.38235294117621 131.480867 57.676470588235 131.480867 C 53.323529411764596 131.480867 51.14705882352939 133.014229 46.794117647059 133.014229 C 42.441176470588196 133.014229 40.2647058823528 132.449084 35.911764705882 132.449084 C 31.558823529411598 132.449084 29.3823529411764 132.906895 25.029411764706 132.906895 C 16.32352941176476 132.906895 3.2647058823529 132.575312 3.2647058823529 132.575312" class="highcharts-graph" data-z-index="1" stroke="url(#highcharts-pattern-7-106bd6515e0370fa)" stroke-width="5" stroke-linejoin="round" stroke-linecap="round" filter="none"></path></g><g class="highcharts-markers highcharts-series-1 highcharts-spline-series highcharts-color-0" data-z-index="1" opacity="1" transform="translate(43,10) scale(1 1)" clip-path="none"></g><g class="highcharts-series highcharts-series-0 highcharts-spline-series" data-z-index="2" opacity="1" transform="translate(43,10) scale(1 1)" clip-path="url(#highcharts-gwfys8o-500-)"><path fill="none" d="M 329.73529411765 120.6595295 C 329.73529411765 120.6595295 323.205882352942 97.942476 318.85294117647 97.942476 C 314.499999999998 97.942476 312.32352941176197 123.935729 307.97058823529 123.935729 C 303.61764705882194 123.935729 301.441176470588 123.935729 297.08823529412 123.3786575 C 292.73529411764804 122.82158600000001 290.558823529412 113.496727 286.20588235294 113.496727 C 281.852941176468 113.496727 279.676470588232 113.496727 275.32352941176 114.6224275 C 270.970588235292 115.748128 268.794117647058 119.397953 264.44117647059 119.397953 C 260.088235294118 119.397953 257.911764705882 119.397953 253.55882352941 118.4794165 C 249.20588235294198 117.56088 247.029411764708 105.30422829999766 242.67647058824 100.242452 C 238.323529411768 95.18067569999766 236.147058823532 98.099993 231.79411764706 93.170535 C 227.441176470588 88.241077 225.26470588235202 88.87064250000614 220.91176470588 75.595162 C 216.558823529412 62.319681500006155 214.38235294117803 26.7931325 210.02941176471 26.7931325 C 205.676470588238 26.7931325 203.500000000002 67.19080929999994 199.14705882353 87.511045 C 194.79411764705802 107.83128069999992 192.617647058822 125.69400999999996 188.26470588235 128.394311 C 183.911764705882 131.094612 181.73529411764798 131.094612 177.38235294118 131.094612 C 173.029411764708 131.094612 170.852941176472 129.6025421 166.5 128.9348 C 162.147058823528 128.2670579 159.970588235292 127.7559015 155.61764705882 127.7559015 C 151.26470588235202 127.7559015 149.088235294118 131.607564 144.73529411765 131.607564 C 140.382352941178 131.607564 138.20588235294198 131.20679679999998 133.85294117647 130.0456935 C 129.499999999998 128.8845902 127.323529411762 127.76910050000089 122.97058823529 125.8020475 C 118.61764705882199 123.83499450000092 116.44117647058799 120.2104285 112.08823529412 120.2104285 C 107.73529411764798 120.2104285 105.55882352941201 120.6657403999997 101.20588235294 121.908979 C 96.85294117647 123.15221759999972 94.67647058823499 126.4266215 90.323529411765 126.4266215 C 85.9705882352942 126.4266215 83.79411764705881 121.3688585 79.441176470588 121.3688585 C 75.0882352941176 121.3688585 72.9117647058824 123.11959530000009 68.558823529412 125.0184155 C 64.20588235294119 126.91723570000009 62.0294117647058 130.08766899999998 57.676470588235 130.8629595 C 53.323529411764596 131.63825 51.14705882352939 131.3136819 46.794117647059 131.63825 C 42.441176470588196 131.96281810000002 40.2647058823528 132.47698950000003 35.911764705882 132.4858 C 31.558823529411598 132.4946105 29.3823529411764 132.4946105 25.029411764706 132.4946105 C 20.6764705882352 132.4946105 18.4999999999998 129.169903 14.147058823529 129.169903 C 9.79411764705856 129.169903 3.2647058823529 130.830833 3.2647058823529 130.830833" class="highcharts-graph" data-z-index="1" stroke="#000000" stroke-width="4" stroke-linejoin="round" stroke-linecap="round" filter="none"></path></g><g class="highcharts-markers highcharts-series-0 highcharts-spline-series" data-z-index="2" opacity="1" transform="translate(43,10) scale(1 1)" clip-path="none"></g></g><text x="188" class="highcharts-title" data-z-index="4" text-align="center" y="25" text-anchor="middle" transform-origin="0 22" transform="translate(0,0) scale(1 1)" style="font-size: 1.2em; font-weight: bold; fill: rgb(51, 51, 51);"></text><text x="188" class="highcharts-subtitle" data-z-index="4" text-align="center" y="24" text-anchor="middle" transform-origin="0 15" transform="translate(0,0) scale(1 1)" style="font-size: 0.8em; fill: rgb(102, 102, 102);"></text><text x="0" text-anchor="start" class="highcharts-caption" data-z-index="4" text-align="left" y="182" transform-origin="0 15" transform="translate(0,0) scale(1 1)" style="font-size: 0.8em; fill: rgb(102, 102, 102);"></text><g class="highcharts-axis-labels highcharts-xaxis-labels" data-z-index="7"><text x="133.32352941176" text-anchor="middle" transform="translate(0,0)" y="169" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">Dec 9</text><text x="285.67647058824" text-anchor="middle" transform="translate(0,0)" y="169" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">Dec 23</text></g><g class="highcharts-axis-labels highcharts-yaxis-labels" data-z-index="7"><text x="28" text-anchor="end" transform="translate(0,0)" y="151" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">$0k</text><text x="28" text-anchor="end" transform="translate(0,0)" y="118" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">$10k</text><text x="28" text-anchor="end" transform="translate(0,0)" y="84" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">$20k</text><text x="28" text-anchor="end" transform="translate(0,0)" y="51" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">$30k</text><text x="28" text-anchor="end" transform="translate(0,0)" y="17" opacity="1" style="cursor: default; font-size: 16px; fill: rgb(0, 0, 0);">$40k</text></g></svg></div></div>

      <script src="https://usetrmnl.com/js/highcharts/12.3.0/highcharts.js"></script>
      <script src="https://usetrmnl.com/js/highcharts/12.3.0/highcharts-more.js"></script>
      <script src="https://usetrmnl.com/js/highcharts/12.3.0/pattern-fill.js"></script>

      <script type="text/javascript">
        var data = [{"name":"Current","data":[["2024-12-31",3982.23],["2024-12-30",10763.44],["2024-12-29",3004.26],["2024-12-28",3170.55],["2024-12-27",6120.38],["2024-12-26",5784.35],["2024-12-25",4358.82],["2024-12-24",4633.01],["2024-12-23",10076.88],["2024-12-22",12187.9],["2024-12-21",17434.28],["2024-12-20",32002.05],["2024-12-19",13877.3],["2024-12-18",1673.34],["2024-12-17",867.28],["2024-12-16",1512.0],["2024-12-15",1863.91],["2024-12-14",714.16],["2024-12-13",1180.39],["2024-12-12",2447.15],["2024-12-11",4116.29],["2024-12-10",3609.26],["2024-12-09",2260.71],["2024-12-08",3770.49],["2024-12-07",2681.07],["2024-12-06",936.43],["2024-12-05",705.0],["2024-12-04",452.0],["2024-12-03",449.37],["2024-12-02",1441.82],["2024-12-01",946.02]]},{"name":"Comparison","data":[["2024-12-30",590.56],["2024-12-29",1478.86],["2024-12-28",772.56],["2024-12-27",1064.97],["2024-12-26",748.73],["2024-12-25",1824.98],["2024-12-24",151.99],["2024-12-23",909.0],["2024-12-22",972.72],["2024-12-21",884.0],["2024-12-20",2029.41],["2024-12-19",1499.78],["2024-12-18",909.08],["2024-12-17",2194.1],["2024-12-16",2815.0],["2024-12-15",7180.58],["2024-12-14",9524.06],["2024-12-12",462.0],["2024-12-11",616.0],["2024-12-10",619.4],["2024-12-09",131.78],["2024-12-08",296.12],["2024-12-06",751.98],["2024-12-05",294.26],["2024-12-04",462.96],["2024-12-03",326.3],["2024-12-01",425.28]]}];
        
        Highcharts.chart('chart-1221f8c9e95f', {
          chart: { 
            type: 'spline',
            height: 180,
            width: 376,
            animation: false,
            spacing: [10, 0, 10, 0]
          },
          title: {
            text: null
          },
          plotOptions: {
            series: {
              animation: false,
              enableMouseTracking: false,
              states: {
                hover: { enabled: false }
              },
              marker: {
                enabled: false
              }
            }
          },
          series: [{
            data: data[0].data,
            lineWidth: 4,
            color: '#000000',
            name: data[0].name,
            zIndex: 2
          }, {
            data: data[1].data,
            lineWidth: 5,
            name: data[1].name,
            zIndex: 1,
            color: {
              pattern: {
                image: 'https://usetrmnl.com/images/grayscale/gray-5.png',
                width: 12,
                height: 12
              }
            }
          }],
          tooltip: { enabled: false },
          legend: { enabled: false },
          yAxis: { 
            labels: { 
              style: { fontSize: '16px', color: '#000000' },
              formatter: function() {
                return '$' + (this.value / 1000) + 'k';
              }
            }, 
            gridLineDashStyle: 'shortdot', 
            gridLineWidth: 1, 
            gridLineColor: '#000000', 
            tickAmount: 5,
            title: {
              text: null
            }
          },
          xAxis: { 
            type: 'datetime', 
            labels: { 
              style: { fontSize: '16px', color: '#000000' },
              padding: 5,
              y: 25
            }, 
            lineWidth: 0, 
            gridLineDashStyle: 'dot', 
            tickWidth: 1, 
            tickLength: 0, 
            gridLineWidth: 1, 
            gridLineColor: '#000000', 
            tickPixelInterval: 120,
            offset: 0,
            margin: 0,
            title: {
              text: null
            }
          },
          credits: {
            enabled: false
          }
        });
      </script>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">Description</span>
</div>