<div class="gap--space-between layout layout--col">
  <div class="gap--[9px] grid grid--cols-2" data-adjust-grid-gaps="false">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--tnums" data-value-type="number">$159,022</span>
        <span class="label">Total Sales</span>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--tnums" data-value-type="number">$156</span>
        <span class="label">AOV</span>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="grid grid--cols-2">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--xsmall value--tnums" data-value-type="number">763</span>
        <span class="label">Pending Orders</span>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--xsmall value--tnums" data-value-type="number">254</span>
        <span class="label">Fulfilled Orders</span>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="grid grid grid--cols-2">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--xxsmall value--tnums" data-value-type="date">
          <div class="bg--gray-5 mb--2 w--12 h--1.5"></div>
          Nov 01 - Nov 30
        </span>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--xxsmall value--tnums" data-value-type="date">
          <div class="bg--black mb--2 w--12 h--1.5" style="border-radius: 20px;"></div>
            Dec 01 - Dec 31
        </span>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">Description</span>
</div>